---
import Link from '@components/ui/Link.astro';
import { CLASS } from '@config/class.ts';
import { SITE } from '@config/site.ts';
import { getLocale, getLocaleStrings } from '@i18n/index.ts';
import Logo from '@images/logo.svg';
import type { HTMLAttributes } from 'astro/types';
import { getRelativeLocaleUrl } from 'astro:i18n';
import type { WithChildren } from '../../types.ts';

/**
 * Props for the site header with logo and description.
 *
 * Explicitly disallows children as header content is predefined.
 */
type Props = WithChildren<false, HTMLAttributes<'header'>>;

const currentLocaleId = getLocale(Astro);
const msg = getLocaleStrings(currentLocaleId);

const props = Astro.props;
---

<header {...props}>
	<Link
		to={getRelativeLocaleUrl(currentLocaleId)}
		aria-label={msg.header.label}
		hreflang={currentLocaleId}
	>
		<Logo />
		<h1 class={CLASS.visuallyHidden}>
			{SITE.title}
		</h1>
	</Link>
	<p>
		{msg.site.description}
	</p>
</header>

<style>
	header {
		display: flex;
		width: 100%;
		max-width: var(--max-w);
		flex-direction: column;
		align-items: center;
		gap: var(--p-md);
		width: fit-content;
		margin-block-start: var(--p-lg);
		margin-inline: var(--p-md);
		view-transition-name: header;

		svg {
			width: 10rem;
			height: fit-content;
			filter: var(--drop-shadow-md);
		}

		> p {
			padding: 0 var(--p-md);
			text-wrap-style: balance;
			text-align: center;
			view-transition-name: header-description;
		}
	}
</style>
