---
import HiddenInput from '@components/ui/HiddenInput.astro';
import InputGroup from '@components/ui/InputGroup.astro';
import Label from '@components/ui/Label.astro';
import { LOCALE } from '@config/locale.ts';
import { getLocale, getLocaleInfo, getLocaleMessages } from '@i18n/index.ts';
import { entriesOf } from '@utils/index.ts';
import type { WithChildren } from '../../types.ts';

/**
 * Props for the locale selector component.
 *
 * Explicitly disallows children as locale entries are generated from config.
 */
type Props = WithChildren<false>;

const currentLocaleId = getLocale(Astro);
const msg = getLocaleMessages(currentLocaleId).locales;
---

<InputGroup id={LOCALE.id} title={msg.title}>
	{
		entriesOf(LOCALE.map)
			.map(([id, config]) => ({
				id,
				config,
				info: getLocaleInfo(id, config.regionId),
			}))
			.sort((a, b) =>
				a.info.languageName.localeCompare(b.info.languageName, currentLocaleId)
			)
			.map(({ id, config, info }) => {
				const { wip, rtl } = config;
				const { flag, languageName, regionName } = info;

				return (
					<Label>
						<HiddenInput
							type="radio"
							name={LOCALE.id}
							checked={id === currentLocaleId}
							{id}
						/>
						{flag}
						<bdo dir={rtl ? 'rtl' : 'ltr'}>{languageName}</bdo>
						{regionName && `(${regionName})`}
						{wip && ' 🚧'}
					</Label>
				);
			})
	}
</InputGroup>

<script>
	import { LOCALE } from '@config/locale.ts';
	import { entriesOf, getDefinedElementById } from '@utils/index.ts';
	import { getRelativeLocaleUrl } from 'astro/virtual-modules/i18n.js';
	import { mapEntries } from 'radashi';

	const localeRadioMap = mapEntries(LOCALE.map, (localeId) => [
		localeId,
		getDefinedElementById<HTMLInputElement>(localeId),
	]);

	// Update theme when a theme radio input is changed
	for (const [id, radio] of entriesOf(localeRadioMap)) {
		radio.addEventListener(
			'change',
			() =>
				(window.location.href = `${getRelativeLocaleUrl(id)}${location.search}`)
		);
	}
</script>
