---
import HiddenInput from '@components/ui/HiddenInput.astro';
import InputGroup from '@components/ui/InputGroup.astro';
import Label from '@components/ui/Label.astro';
import { OPTION } from '@config/option.ts';
import { getLocaleMessages } from '@i18n/index.ts';
import { entriesOf } from '@utils/index.ts';
import type { WithChildren } from '../../types.ts';

/**
 * Props for the options selector component.
 *
 * Explicitly disallows children as option entries are generated from config.
 */
type Props = WithChildren<false>;

const msg = getLocaleMessages(Astro).options;
---

<InputGroup id={OPTION.id} title={msg.title}>
	{
		entriesOf(OPTION.map).map(([id, optionConfig]) => (
			<Label>
				<HiddenInput
					type="checkbox"
					name={OPTION.id}
					checked={optionConfig.default}
					{id}
				/>
				{msg.map[id].label}
			</Label>
		))
	}
</InputGroup>

<script>
	import { OPTION, type OptionId } from '@config/option.ts';
	import {
		$enableDebugLogging,
		$rememberInputText,
		$warnOnLargeInputText,
	} from '@stores/index.ts';
	import { getDefinedElementById } from '@utils/index.ts';
	import type { WritableAtom } from 'nanostores';
	import { mapEntries } from 'radashi';

	/**
	 * Associates a store with its corresponding checkbox element.
	 *
	 * @property store - The nanostores atom for this option
	 * @property checkbox - The DOM checkbox input element
	 */
	type OptionEntry = {
		store: WritableAtom<boolean>;
		checkbox: HTMLInputElement;
	};

	type OptionMap = Record<OptionId, OptionEntry>;

	const idStoreMap = {
		[OPTION.map.warnOnLargeInputText.id]: $warnOnLargeInputText,
		[OPTION.map.rememberInputText.id]: $rememberInputText,
		[OPTION.map.enableDebugLogging.id]: $enableDebugLogging,
	} as const satisfies { [id in OptionId]: WritableAtom<boolean> };

	const optionMap: OptionMap = mapEntries(idStoreMap, (optionId, store) => [
		optionId,
		{
			store,
			checkbox: getDefinedElementById<HTMLInputElement>(optionId),
		},
	]);

	for (const { store, checkbox } of Object.values(optionMap)) {
		// Update checkboxes when the option changes
		store.subscribe((value) => {
			checkbox.checked = value;
		});

		// Update theme when a theme radio input is changed
		checkbox.addEventListener('change', () => {
			store.set(checkbox.checked);
		});
	}
</script>
